<div class="card">
    <div class="card-body">
        <h1>Personal</h1>
        <br />
        <a id="btn_crearPersonal" asp-controller="Personal" asp-action="Agregar" class="btn btn-outline-primary"><i class="fad fa-user-friends"></i> Nuevo Personal</a>
        <hr />
        <div id="divgrdPersonal"></div>
        <hr />
        <div id="lastUpdated"></div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/Personal/Personal.js"></script>
