@using Microsoft.AspNetCore.Identity

<li class="nav-item">
    <a class="nav-link" href="~/Ayuda" data-toggle="tooltip" data-placement="bottom" data-original-title="Ayuda"><i class="far fa-question" ></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/About" data-toggle="tooltip" data-placement="bottom" data-original-title="Nosotros"><i class="far fa-users" ></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/Manage" data-toggle="tooltip" data-placement="bottom" data-original-title="Configuración"><i class="far fa-user"></i> @User.Identity.Name</a>
</li>
<li class="nav-item">
    <form asp-controller="Administracion" asp-action="Logout">
        <button type="submit" class="nav-link btn btn-link text-dark"><i class="far fa-sign-out-alt"></i></button>
    </form>
</li>




