
<div class="card">
    <div class="card-body">
        <h1>Configuración</h1>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <p>Cambiar la configuración del usuario</p>
            <hr />
            <strong>Contraseña: </strong>
            [ <a asp-controller="Usuario" asp-action="CambiarContrasenia">Cambiar contraseña</a> ]
        </div>
    </div>
</div>